.container {
  position: relative;
  padding: 30px 40px 73px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  min-height: calc(100vh - 100px - 154px);

  @media screen and (max-width: 639px) {
    padding: 15px 20px 80px;
    min-height: 537px;
  }

  /* iPhone 5 */
  @media screen and (max-width: 374px) {
    padding: 15px 20px 36px;
    min-height: calc(100vh - 40px - 77px);
  }

  /* iPhone 6 App */
  @media screen and (min-width: 375px) and (max-height: 603px) {
    padding: 15px 20px 42px;
    min-height: calc(100vh - 40px - 90px);
  }

  /* Pixel 2 */
  @media screen and (max-width: 414px) and (min-height: 731px) {
    padding: 15px 20px 80px;
    min-height: calc(100vh - 40px - 99px);
  }

  /* iPhone X App */
  @media screen and (max-width: 375px) and (min-height: 635px) {
    padding: 15px 20px 80px;
    min-height: calc(100vh - 40px - 90px);
  }

  /* iPhone X */
  @media screen and (max-width: 375px) and (min-height: 812px) {
    padding: 20px 20px 90px;
    min-height: calc(100vh - 40px - 90px);
  }

  /* Galaxy S5 */
  @media screen and (max-width: 360px) and (min-height: 640px) {
    padding: 15px 20px 52px;
    min-height: calc(100vh - 40px - 86px);
  }

  /* iPhone 5 in app */
  @media screen and (max-width: 320px) and (max-height: 504px) {
    padding: 5px 20px 30px;
    min-height: calc(100vh - 30px - 77px);
  }
}
