.container {
  display: inline-block;
  width: 100%;
  max-width: 640px;
}

.wrapper {
  position: relative;
  margin-bottom: 75px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 70px;
  border: 3px solid #02daff;
  border-radius: 20px;
  background-color: rgba(#333, 0.3);

  @media screen and (max-width: 639px){
    margin-bottom: 55px;
    padding-bottom: 50px;
  }
}

.player {
  top: 12px;
  left: 18%;
  background-image: url('/assets/images/player.svg');

  @media screen and (max-width: 639px) {
    left: 25%;
  }
}

.banker {
  top: 12px;
  left: 82%;
  background-image: url('/assets/images/banker.svg');
}

.banker,
.player {
  position: absolute;
  display: inline-block;
  width: 44px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 639px) {
    width: 28px;
    height: 40px;
  }
}
