$FONT_SIZE: 26px;
$FONT_SIZE_MOBILE: 13px;

.container {
  justify-content: space-between;
  margin-bottom: 10px;
  border: 3px solid #02daff;
  border-radius: 20px;
  background-color: rgba(#333, 0.3);
}

.point-wrapper {
  display: flex;
  padding: 10px 10px 15px;
}

.field {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;

  &.win,
  &.lost {
    flex-basis: 35%;
  }

  &.draw {
    flex-basis: 30%;
  }

  .title {
    padding-bottom: 10px;
    font-size: $FONT_SIZE;
    color: white;
  }

  .count {
    font-size: 36px;
    color: white;
  }

  @media screen and (max-width: 639px){
    .title {
      font-size: $FONT_SIZE_MOBILE;
    }

    .count {
      font-size: 20px;
    }
  }
}

.prise-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 10px;
  border-top: 2px solid rgba(#eee, 0.5);

  .title {
    display: inline-flex;
    flex: 1 1 35%;
    align-items: center;
    padding-left: 50px;
    min-width: 50px;
    height: 50px;
    background-image: url('../../../../assets/images/icon-eos.svg');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: $FONT_SIZE;
    color: white;
  }

  .jackpot-number {
    justify-content: center;
    flex: 1 1 30%;
    padding-left: $FONT_SIZE;
    font-size: 36px;
    color: #ff4;
  }

  .unit-text {
    justify-content: flex-end;
    flex: 1 1 35%;
    font-size: $FONT_SIZE;
    color: #759bb5;
  }

  .jackpot-number,
  .unit-text {
    display: inline-flex;
    align-items: center;
  }

  @media screen and (max-width: 639px){
    .title {
      padding-left: 35px;
      min-width: 35px;
      height: 35px;
      font-size: $FONT_SIZE_MOBILE;
    }

    .unit-text {
      font-size: $FONT_SIZE_MOBILE;
      color: white;
    }

    .jackpot-number {
      font-size: 20px;
    }
  }
}
