.functions-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

  @media screen and (max-width: 374px) {
    margin-top: 35px;
    margin-bottom: 5px;
  }
}

.clean {
  padding-left: 60px;
  background-image: url('/assets/images/btn-clear-red.svg');

  @media screen and (max-width: 639px) {
    padding-left: 53px;
  }

  @media screen and (max-width: 374px) {
    padding-left: 35px;
  }
}

.random {
  flex-direction: row-reverse;
  padding-right: 60px;
  background-image: url('/assets/images/btn-random.svg');
  background-position: top right;

  @media screen and (max-width: 639px) {
    padding-right: 53px;
  }

  @media screen and (max-width: 374px) {
    padding-right: 35px;
  }
}

.clean,
.random {
  z-index: 10;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  font-size: 22px;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all  0.1s;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    // remove tap highlight from ios

  &.disable {
    filter: grayscale(100%);
  }

  &:active {
    transform: scale(0.9);
  }

  @media screen and (max-width: 639px) {
    font-size: 16px;
  }

  @media screen and (max-width: 374px) {
    min-width: 30px;
    height: 30px;
    font-size: 12px;
  }
}
