.container {
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
}

.message {
  position: absolute;
  top: 70%;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-size: 36px;
  color: white;

  &.alert {
    background-image: url('/assets/images/alert-message.svg');
  }

  &.warning {
    background-image: url('/assets/images/warning-message.svg');
  }

  &::after {
    display: block;
    padding-top: 16%;
    content: '';
  }

  @media screen and (max-width: 639px) {
    font-size: 28px;
  }
}
