.container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 640px;
  min-height: 100vh;
  background-image: url('/assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px #1f4274;
}
