$FONT_SIZE: 24px;
$FONT_COLOR: white;

.container {
  position: fixed;
  bottom: 0;
  padding-top: 22%;
  width: 100%;
  max-width: 1281px;
  background-image: url('../../assets/images/footer.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.menu {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  height: 57%;
}

.btn-auto-bidding {
  display: inline-flex;
  align-items: center;
  padding-left: 50px;
  min-width: 50px;
  height: 50px;
  background-image: url('../../assets/images/btn-auto-disable.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: $FONT_SIZE;
  color: $FONT_COLOR;
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;

  &:active {
    transform: scale(0.8);
  }

  &.checked {
    background-image: url('../../assets/images/btn-auto-check.svg');
    opacity: 1;
  }
}

.bidding-value-field {
  display: inline-flex;
  align-items: center;

  .title {
    font-size: $FONT_SIZE;
    color: $FONT_COLOR;
  }

  .field-block {
    display: inline-block;
    padding: 5px 10px;
    min-width: 50px;
    background-color: black;
    border-radius: 15px;
  }

  .bidding-value {
    color: #02daff;
  }

  .unit-text {
    padding-left: 10px;
    color: white;
  }

  .drop-down {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 18px;
    background-image: url('../../assets/images/btn-dropdown.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.confirm {
  position: absolute;
  top: -29px;
  left: calc(50% - 21%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42%;
  height: 90%;
  margin: 0 auto;
  background-image: url('../../assets/images/btn-punch-gray.svg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  user-select: none;
  transition: all 0.05s;

  .title {
    padding-left: 42px;
    font-size: 42px;
    color: #707070;
  }

  &.checkable {
    background-image: url('../../assets/images/btn-punch-green.svg');

    & .title {
      color: white;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
