$FONT_SIZE: 26px;
$FONT_SIZE_MOBILE: 13px;
$FONT_COLOR: white;

.container {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 22%;
  width: 100%;
  max-width: 640px;
  background-image: url('/assets/images/footer.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  height: 57%;

  @media screen and (max-width: 639px){
    padding-right: 15px;
    padding-left: 15px;
  }
}

.auto-bidding {
  display: inline-flex;
  align-items: center;
  padding-left: 60px;
  min-width: 50px;
  height: 50px;
  background-image: url('/assets/images/btn-auto-disable.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: $FONT_SIZE;
  color: $FONT_COLOR;
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
  transition: transform 0.1s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    // remove tap highlight from ios

  &:active {
    transform: scale(0.9);
  }

  &.checked {
    background-image: url('/assets/images/btn-auto-check.svg');
    opacity: 1;
  }

  @media screen and (max-width: 639px){
    padding-left: 45px;
    min-width: 35px;
    height: 35px;
    font-size: $FONT_SIZE_MOBILE;
  }

  @media screen and (max-width: 374px) {
    padding-left: 35px;
  }
}

.bidding-value-field {
  display: inline-flex;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    // remove tap highlight from ios

  .title {
    font-size: $FONT_SIZE;
    color: $FONT_COLOR;
  }

  .field-block {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    min-width: 50px;
    background-color: black;
    border-radius: 15px;
  }

  .bidding-value {
    color: #02daff;
  }

  .unit-text {
    padding-left: 10px;
    color: white;
  }

  .drop-down {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 18px;
    background-image: url('/assets/images/btn-dropdown.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  @media screen and (max-width: 639px){
    .title {
      font-size: $FONT_SIZE_MOBILE;
    }

    .drop-down {
      width: 15px;
      height: 10px;
    }
  }

  @media screen and (max-width: 374px) {
    .bidding-value {
      font-size: 12px;
    }
  
    .unit-text {
      font-size: 12px;
    }

    .drop-down {
      margin-left: 5px;
    }
  }
}

.confirm {
  position: absolute;
  top: 3px;
  left: calc(50% - 17%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 221px;
  background-image: url('/assets/images/btn-punch-gray.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  user-select: none;
  transition: transform 0.1s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    // remove tap highlight from ios

  &::after {
    display: block;
    padding-top: 30%;
    content: '';
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
    width: 100%;
    height: 100%;
    font-size: 42px;
    color: #707070;
  }

  &.checkable {
    background-image: url('/assets/images/btn-punch-green.png');

    & .title {
      color: white;
    }
  }

  &:active {
    transform: scale(0.9);
  }

  @media screen and (max-width: 639px){
    left: calc(33% - 2px);
    align-items: flex-start;
    width: 35%;

    .title {
      padding-left: 30px;
      font-size: 24px;
    }
  }

  @media screen and (max-width: 374px){
    .title {
      padding-left: 25px;
      font-size: 18px;
    }
  }
}
