$FONT_SIZE: 26px;
$FONT_SIZE_IPAD: 22px;
$FONT_SIZE_MOBILE: 13px;

.jackpot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 13px 19px 12px 17px;
  border: 2px solid #ff4;
  border-radius: 8px;
  box-shadow: 0 0 6px #ff4, 0 0 6px #ff4 inset;
  background-color: rgba(#333, 0.3);

  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
    padding: 3px 13px 3px 8px;
  }

  @media screen and (max-width: 639px) {
    margin-bottom: 5px;
    padding: 3px 9px 3px 8px;
  }
}

.title {
  display: inline-flex;
  align-items: center;
  padding-left: 50px;
  min-width: 50px;
  height: 50px;
  background-image: url('/assets/images/icon-eos.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: $FONT_SIZE;
  color: white;

  @media screen and (max-width: 768px) {
    font-size: $FONT_SIZE_IPAD;
  }

  @media screen and (max-width: 639px) {
    padding-left: 30px;
    min-width: 30px;
    height: 30px;
    font-size: $FONT_SIZE_MOBILE;
  }
}

.jackpot-number {
  justify-content: center;
  font-size: 36px;
  color: #ff4;

  @media screen and (max-width: 768px) {
    font-size: 28px;
  }

  @media screen and (max-width: 639px) {
    font-size: 20px;
  }
}

.unit-text {
  justify-content: flex-end;
  font-size: $FONT_SIZE;
  color: #759bb5;

  @media screen and (max-width: 768px) {
    font-size: $FONT_SIZE_IPAD;
  }

  @media screen and (max-width: 639px) {
    font-size: $FONT_SIZE_MOBILE;
  }
}

.jackpot-number,
.unit-text {
  display: inline-flex;
  align-items: center;
}

.title,
.jackpot-number,
.unit-text {
  flex: 1 1;
}
