.container {
  display: inline-block;
  width: 100%;
  max-width: 640px;
}

.wrapper {
  position: relative;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 70px;
  border: 2px solid #02daff;
  border-radius: 8px;
  background-color: rgba(#333, 0.3);

  @media screen and (max-width: 639px) {
    padding-bottom: 50px;
  }

  @media screen and (max-width: 374px) {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  @media screen and (max-width: 320px) and (max-height: 504px) {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

.player {
  top: 12px;
  left: 22%;
  background-image: url('/assets/images/player.svg');

  @media screen and (max-width: 639px) {
    top: 10px;
  }
}

.banker {
  top: 12px;
  left: 86%;
  background-image: url('/assets/images/banker.svg');

  @media screen and (max-width: 639px) {
    top: 10px;
    left: 83%;
  }
}

.banker,
.player {
  position: absolute;
  display: inline-block;
  width: 44px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 768px) {
    width: 32px;
    height: 43px;
  }

  @media screen and (max-width: 639px) {
    width: 22px;
    height: 34px;
  }

  @media screen and (max-width: 374px) {
    width: 16px;
    height: 21px;
  }
}
