$SIZE: 136px;
$SIZE_MOBILE: 86px;
$SIZE_I6_APP: 72px;
$SIZE_I5: 56px;
$SIZE_I5_APP: 50px;
$BORDER_WIDTH: 2px;
$PC_TOP_POSITION: calc(100% - #{$SIZE / 2 - $BORDER_WIDTH});
$MOBILE_TOP_POSITION: calc(100% - #{$SIZE_MOBILE / 2 - $BORDER_WIDTH});
$I6_TOP_POSITION: calc(100% - #{$SIZE_I6_APP / 2 - $BORDER_WIDTH});
$I5_TOP_POSITION: calc(100% - #{$SIZE_I5 / 2 - $BORDER_WIDTH});

.punch {
  position: absolute;
  display: inline-block;
  width: $SIZE;
  height: $SIZE;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform  0.1s;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    // remove tap highlight from ios

  @media screen and (max-width: 639px) {
    width: $SIZE_MOBILE;
    height: $SIZE_MOBILE;
  }

  @media screen and (max-width: 374px) {
    width: $SIZE_I5;
    height: $SIZE_I5;
  }

  /* iPhone 6 App */
  @media screen and (min-width: 375px) and (max-height: 603px) {
    width: $SIZE_I6_APP;
    height: $SIZE_I6_APP;
  }

  /* iPhone 5 in app */
  @media screen and (max-width: 320px) and (max-height: 504px) {
    width: $SIZE_I5_APP;
    height: $SIZE_I5_APP;
  }
}

.scissor {
  top: $PC_TOP_POSITION;
  left: 10%;
  background-image: url('/assets/images/btn-scissor-dark.svg');

  &::after {
    visibility: hidden;
    content: url('/assets/images/btn-scissor-blur.svg');
  }

  &:active {
    transform: scale(0.9);

    &::after {
      visibility: visible;
    }
  }

  &.disable {
    background-image: url('/assets/images/btn-scissor-gray.svg');
    transform: scale(1);
  }

  &.selected {
    background-image: url('/assets/images/btn-scissor-light.svg');
  }

  @media screen and (max-width: 639px) {
    top: $MOBILE_TOP_POSITION;
    left: 5%;
  }

  @media screen and (max-width: 374px) {
    top: $I5_TOP_POSITION;
    left: 10%;
  }

  /* iPhone 6 App */
  @media screen and (min-width: 375px) and (max-height: 603px) {
    top: $I6_TOP_POSITION;
    left: 10%;
  }
}

.stone {
  top: $PC_TOP_POSITION;
  left: 40%;
  background-image: url('/assets/images/btn-stone-dark.svg');

  &::after {
    visibility: hidden;
    content: url('/assets/images/btn-stone-blur.svg');
  }

  &:active {
    transform: scale(0.9);

    &::after {
      visibility: visible;
    }
  }

  &.disable {
    background-image: url('/assets/images/btn-stone-gray.svg');
  }

  &.selected {
    background-image: url('/assets/images/btn-stone-light.svg');
  }

  @media screen and (max-width: 639px) {
    top: $MOBILE_TOP_POSITION;
    left: 37%;
  }

  @media screen and (max-width: 374px) {
    top: $I5_TOP_POSITION;
    left: 40%;
  }

  /* iPhone 6 App */
  @media screen and (min-width: 375px) and (max-height: 603px) {
    top: $I6_TOP_POSITION;
    left: 40%;
  }
}

.paper {
  top: $PC_TOP_POSITION;
  left: 70%;
  background-image: url('/assets/images/btn-paper-dark.svg');

  &::after {
    visibility: hidden;
    content: url('/assets/images/btn-paper-blur.svg');
  }

  &:active {
    transform: scale(0.9);

    &::after {
      visibility: visible;
    }
  }

  &.disable {
    background-image: url('/assets/images/btn-paper-gray.svg');
  }

  &.selected {
    background-image: url('/assets/images/btn-paper-light.svg');
  }

  @media screen and (max-width: 639px) {
    top: $MOBILE_TOP_POSITION;
    left: 68%;
  }

  @media screen and (max-width: 374px) {
    top: $I5_TOP_POSITION;
    left: 70%;
  }

  /* iPhone 6 App */
  @media screen and (min-width: 375px) and (max-height: 603px) {
    top: $I6_TOP_POSITION;
    left: 70%;
  }
}

.border {
  position: absolute;
  bottom: -2px;
  left: -2px;
  display: inline-block;
  width: $SIZE + 4px;
  height: $SIZE / 2 + 4px;
  border: $BORDER_WIDTH solid #3adaff;
  border-top: 0;
  border-bottom-left-radius: $SIZE;
  border-bottom-right-radius: $SIZE;

  @media screen and (max-width: 639px) {
    width: $SIZE_MOBILE + 4px;
    height: $SIZE_MOBILE / 2 + 4px;
    border-bottom-left-radius: $SIZE_MOBILE;
    border-bottom-right-radius: $SIZE_MOBILE;
  }

  @media screen and (max-width: 374px) {
    width: $SIZE_I5 + 4px;
    height: $SIZE_I5 / 2 + 4px;
    border-bottom-left-radius: $SIZE_I5;
    border-bottom-right-radius: $SIZE_I5;
  }

  /* iPhone 6 App */
  @media screen and (min-width: 375px) and (max-height: 603px) {
    width: $SIZE_I6_APP + 4px;
    height: $SIZE_I6_APP / 2 + 4px;
    border-bottom-left-radius: $SIZE_I6_APP;
    border-bottom-right-radius: $SIZE_I6_APP;
  }

  /* iPhone 5 in app */
  @media screen and (max-width: 320px) and (max-height: 504px) {
    width: 54px;
    height: 26px;
    border-bottom-left-radius: $SIZE_I5_APP;
    border-bottom-right-radius: $SIZE_I5_APP;
  }
}

:global(.shine) {
  &.scissor {
    background-image: url('/assets/images/btn-scissor-blur.svg');
  }

  &.paper {
    background-image: url('/assets/images/btn-paper-blur.svg');
  }

  &.stone {
    background-image: url('/assets/images/btn-stone-blur.svg');
  }
}

.hesitation {
  &.scissor {
    animation: scissor-shine 0.5s 0s infinite linear;
  }

  &.stone {
    animation: stone-shine 0.5s 0s infinite linear;
  }

  &.paper {
    animation: paper-shine 0.5s 0s infinite linear;
  }
}

@keyframes scissor-shine {
  0%,
  20% {
    background-image: url('/assets/images/btn-scissor-blur.svg');
  }

  30%,
  100% {
    background-image: url('/assets/images/btn-scissor-dark.svg');
  }
}

@keyframes stone-shine {
  40%,
  50% {
    background-image: url('/assets/images/btn-stone-blur.svg');
  }

  60%,
  100% {
    background-image: url('/assets/images/btn-stone-dark.svg');
  }
}

@keyframes paper-shine {
  0%,
  70% {
    background-image: url('/assets/images/btn-paper-dark.svg');
  }

  80%,
  100% {
    background-image: url('/assets/images/btn-paper-blur.svg');
  }
}
