.game-board-bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;

  @media screen and (max-width: 639px) {
    top: -18px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (max-width: 374px) {
    top: -6px;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* iPhone 6 App */
  @media screen and (min-width: 375px) and (max-height: 603px) {
    top: -6px;
    padding-right: 20px;
    padding-left: 20px;
  }

  /* iPhone X */
  @media screen and (max-width: 375px) and (min-height: 812px) {
    top: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.clean {
  padding-left: 60px;
  background-image: url('/assets/images/btn-clear-red.svg');

  @media screen and (max-width: 639px) {
    padding-left: 43px;
  }

  @media screen and (max-width: 374px) {
    padding-left: 35px;
  }
}

.random {
  flex-direction: row-reverse;
  padding-right: 60px;
  background-image: url('/assets/images/btn-random.svg');
  background-position: top right;

  @media screen and (max-width: 639px) {
    padding-right: 43px;
  }

  @media screen and (max-width: 374px) {
    padding-right: 35px;
  }
}

.clean,
.random {
  z-index: 10;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  font-size: 22px;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all  0.1s;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    // remove tap highlight from ios

  &.disable {
    filter: grayscale(100%);
  }

  &:active {
    transform: scale(0.9);
  }

  @media screen and (max-width: 639px) {
    min-width: 40px;
    height: 40px;
    font-size: 16px;
  }

  @media screen and (max-width: 374px) {
    min-width: 30px;
    height: 30px;
    font-size: 12px;
  }

  /* iPhone 6 App */
  @media screen and (min-width: 375px) and (max-height: 603px) {
    min-width: 35px;
    height: 35px;
    font-size: 16px;
  }
}
