.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 70px;

  @media screen and (max-width: 768px) {
    height: 58px;
  }

  @media screen and(max-width: 639px) {
    margin-bottom: 5px;
    height: 35px;
  }
}

.title {
  flex: 1 1 20%;
  font-size: 26px;
  color: white;
  text-align: center;
  opacity: 0.2;

  &.focus {
    opacity: 1;
  }

  @media screen and (max-width: 639px) {
    font-size: 18px;
  }

  @media screen and (max-width: 374px) {
    font-size: 16px;
  }
}

.field {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex: 1 1 80%;
  height: 100%;
  background-color: rgba(#333, 0.3);
  border-radius: 8px;

  .player {
    flex: 1 1 45%;
    justify-content: center;
    font-size: 30px;
    color: white;
  }

  .gap {
    flex: 1 1 10%;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    opacity: 0.5;

    &::after {
      display: inline-block;
      height: 100%;
      border-right: 2px solid rgba(#eee, 0.3);
      content: '';
    }

    &.game-over {
      opacity: 1;

      &::after {
        display: none;
      }
    }
  }

  .banker {
    flex: 1 1 45%;
    justify-content: center;
  }

  .player,
  .gap,
  .banker {
    display: inline-flex;
    opacity: 0.5;
  }

  &.focus {
    border: 2px solid #02daff;
    box-shadow: 0 0 3px #02daff, 0 0 3px #02daff inset;

    .player,
    .gap,
    .banker {
      opacity: 1;
    }
  }

  &.selected {
    .player,
    .banker {
      opacity: 1;
    }
  }

  &.reveal.win {
    border: 2px solid #02daff;
    box-shadow: 0 0 4px #02daff, 0 0 4px #02daff inset;
    background-color: rgba(#02daff, 0.3);
  }

  @media screen and (max-width: 639px) {
    .gap {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    .player {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 374px) {
    .player {
      font-size: 13px;
    }
  }
}

.mark {
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;

  &.question {
    background-image: url('/assets/images/icon-q-mark.svg');
  }

  &.scissor {
    background-image: url('/assets/images/icon-scissor.svg');
  }

  &.stone {
    background-image: url('/assets/images/icon-stone.svg');
  }

  &.paper {
    background-image: url('/assets/images/icon-paper.svg');
  }

  &.reveal.win {
    &.scissor {
      background-image: url('/assets/images/icon-scissor-win.svg');
    }

    &.stone {
      background-image: url('/assets/images/icon-stone-win.svg');
    }

    &.paper {
      background-image: url('/assets/images/icon-paper-win.svg');
    }
  }

  &.reveal.lose {
    &.scissor {
      background-image: url('/assets/images/icon-scissor-lose.svg');
    }

    &.stone {
      background-image: url('/assets/images/icon-stone-lose.svg');
    }

    &.paper {
      background-image: url('/assets/images/icon-paper-lose.svg');
    }
  }

  &.reveal.draw {
    &.scissor {
      background-image: url('/assets/images/icon-scissor-draw.svg');
    }

    &.stone {
      background-image: url('/assets/images/icon-stone-draw.svg');
    }

    &.paper {
      background-image: url('/assets/images/icon-paper-draw.svg');
    }
  }

  &.scissor,
  &.stone,
  &.paper, {
    width: 45px;
    height: 45px;
  }

  &.revealing {
    border: 1px solid #eee;
  }

  @media screen and (max-width: 639px) {
    width: 20px;
    height: 20px;

    &.scissor,
    &.stone,
    &.paper, {
      width: 25px;
      height: 25px;
    }
  }
}

.point-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  font-size: 26px;
  border-radius: 20px;
  background-color: white;

  &.win {
    color: #29aa00;
  }

  &.lose,
  &.draw {
    color: #d70016;
  }

  @media screen and (max-width: 639px) {
    width: 60px;
    height: 20px;
    font-size: 14px;
  }

  @media screen and (max-width: 374px) {
    width: 44px;
    height: 20px;
    font-size: 10px;
  }
}
